*{
    margin: 0;
    box-sizing: border-box;
}
.list ul li {
     list-style: none;
     font-weight: bold;
}
.container {
    display: flex;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 50px;
}
.logo {
    
}
.list {
    display: flex;
    flex-direction: column;
    width: 100% ;
}
.hang1 {
    display: flex;
    justify-content: space-around;
    margin-left: 10px;
    
}
.text1 .item{
    margin: 10px;
    margin-top: 10px;
    padding: 10px 0;
    margin-right: 20px;
}
.text1 {
    display: flex;
    white-space: nowrap;
   
}
.search {
    margin: 10px 10px;
    margin-left: 285px;
    margin-right: 20px;
    margin-top: 10px;
} 
.hang2 {
    display: flex;
    margin-left: 10px;
    margin-right: 20px;
    background-color: rgb(226, 103, 58);
}
.text2 .item {
    margin: 10px;
    margin-top: 20px;
    padding-bottom: 10px;
    padding: 10px 0;
    margin-right: 30px;
}
.text2 {
    display: flex;
    white-space: nowrap;
}
.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .icon {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0 10px;
  }
  
  .icon li {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #ccc;
    border-radius: 4px;
    min-width: 40px;
    transition: border-color 0.2s ease-in-out;
  }
  
  .icon li:not(:hover) svg {
    border-color: #ccc;
  }
  
  .icon li:hover svg {
    border-color: #000;
  }
  
  .icon li svg {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: transparent;
  }
.images1 img{
    width: 88%;
    margin-top: 10px;
    margin-left: 80px;
    margin-right: 80px;
}
.images2{
    display: flex;
    margin-top: 40px;
}
.images2 .anh1{
    margin-left: 80px;
    
}
.images2 .anh1 img{
    width: 135%;
    height: 120%;
    
}
.anh2{
    margin-left: 5px;
    
}
.img1{
    margin-left: 190px;
}
.img1 img{
    width: 105%;
    height: -20%;
}
.img2{
    display: flex;
}
.img2 .a1{
    margin: 10px 10px;
    margin-left: 50px;
    m
}
.img2 .a1 img{
    width: 134%;
    height: 105%;
}
.a2{
    margin-left: 80px;
    margin-right: 20px;
    margin-top: 10px;
}
.a2 img{
    width: 100%;
    height: 75%;
}